@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', sans-serif;
}
html{
    width: 100vw;
    height: 100vw;
    background-color:#c6caca;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 1440px;
    height: 840px;
    display:flex; 
    background-image:url(9fe89b293e716aede1245cab6c68cef6.png);
    opacity: 84%;
    border-radius: 35px;
}
.ultima_imagem{
    position: relative;
    top: 100px;
        
}
.ultima_texto{
    position:relative;
    top: 100px;
    left: 20px;
    display:flex;
    flex-direction:column; 
}
.ultima_texto h3{
    padding-left: 70px;
}
.login{
    align-items: center;
    width: 720px;
    height: 840px;
    background-color: #fff;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    display:flex;
    flex-direction:column; 
}
.texto_log{
    font-size:2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color:black;
    align-items: center;
}
.login label{
    font-size:15px;
    font-weight:800;
    color:black;  
    align-items: center;
}
.login input{
    display: inline-block;
    width: 100%;
    margin-bottom: 3rem;
    height: 4rem;
    border-radius:  35px;
    background-color:#f4f4f4;
    border: none;    
}   
.links{
    display: flex;
    justify-content:space-around;
}
.links a{
    font-size: 15 rem;
    color: #465ff1;
    margin-bottom: 2rem;
    transition: all 300ns ease;
}
.links a:hover{
    background-color: #1c07d4;
    color:#fff;
}
.login button{
    
    height: 4rem;
    width:auto;
    border: none;
    border-radius:  35px;
    cursor: pointer;
}
.btn{
    margin-bottom: 1rem;     
    border-radius:  35px;
    font-size: 20px; 
    background-color: #465ff1;
    transition: all 500ns ease-in-out;
    size:16px;
    line-height: 100%;
    vertical-align: top;
}
.btn:hover{
    background-color: #1c07d4;
    color:#fff;
}
p{
    padding-left: 60px;

}



